@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body
{
   min-height: 100vh;
   background-image: linear-gradient(#FFFBC5,#FFF16E);
   width: 100vw;
}
header{
    width: 100vw;
    height: 100px;
    background: white;
    margin: auto;
}
header .title h1  
{    
    height: 70px;
    margin-left: 30px;
    display: flex;
    color: #09B5FF;
    size: 2em;
    align-items: center;
}
header .title h2
{
    margin-left: 30px;
    height: 0px;
    color: #797979;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 0.5px;
    margin-top: -20px;
}
header ul
{
    float: right;
    height: 100%;
}
header ul li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}
header ul li:last-of-type{
    margin-right: 0;
}
header ul span
{
    display: table-cell;
    vertical-align: middle;
}
header ul a{
    color: #101010;
}
header ul li .a1
{
    padding: 10px 25px;
    background-color: #FFDD00;
    color: #797979;
    border-radius: 10px;
	text-align: center;

}
header ul li .a2
{
    padding: 10px 25px;
    background-color: #FFDD00;
    color: #797979;
    border-radius: 10px;
	margin-right: 50px;
	text-align: center;
}
header ul li .a1:hover,
header ul li .a1.active
{
    background: #09B5FF;
    background-size:30%;
    color: #ffffff;
	cursor: pointer;
}
header ul li .a2:hover,
header ul li .a2.active
{
    background: #09B5FF;
    background-size:30%;
    color: #ffffff;
	cursor: pointer;
}
.hero {
	padding-top: 80px;
	padding-bottom: 60px;
}
.hero_header{
	color: #848484;
	text-align: center;
	font-size: 1.7em;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.rectangle{
	width:90%;
	height: 8px;
	background-color: white;
	border-radius: 10px;
	margin-left:40px;
}
.rulestitle{
	padding-top: 40px;
	padding-left: 60px;
	font-size:1.4em;
}
.rulest{
	background-color: white;
	color: #09B5FF;
	width:250px;
	text-align: center;
	height:30px;
	border-radius: 10px;
	padding: 10px 15px;
	margin-left: 60px;
	
	
}
.numbers{
	width: 30%;
	color: #09B5FF;
	text-align: center;
	border-radius: 10px;
	padding: 10px 5px;
}
footer {
	padding-bottom: 35px;
	height: 300px;
	
}
.footer_column1 {
	width: 20%;
	text-align: center;
	padding-top: 30px;
	float: left;	
	font-size: 1.2em;
}
.one{
	background-color: white;
	width: 20px;
	text-align: center;
	padding: 10px 14px;
	border-radius: 10px;
	margin-bottom: 48px;
	color: #FFA000;
	margin-left: 50%;
	margin-top:10px;
}
.two{
	background-color: white;
	width: 20px;
	text-align: center;
	padding: 10px 14px;
	border-radius: 10px;
	margin-left: 50%;
	margin-bottom: 35px;
	color: #FFA000;
}
.three{
	background-color: white;
	width: 20px;
	text-align: center;
	padding: 10px 14px;
	border-radius: 10px;
	margin-left: 50%;
	margin-bottom: 40px;
	color: #FFA000;
}
.footer_column2 {
	width: 70%;
	margin-top: 3px;
	text-align: left;
	padding-top: 30px;
	float: left;
	color: #848484;
	font-size: 1.2em;
}
.message_one{
	padding-bottom: 15px;
	}
.message_two{
	padding-bottom: 15px;
	}
.message_three{
	padding-top: 12px;
	}
.footer_banner{
	background-color: white;
	height: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.button{
	padding: 15px 100px;
    background-color: #FFDD00;
    color: #797979;
    border-radius: 10px;
	text-align: center;
	font-size: 1.5em;
	margin-right: 100px;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: auto;
	
}
.nav-item{
	margin-left: 35%;
}
 .button:hover,
 .button.active
{
    background: #09B5FF;
    background-size:30%;
    color: #ffffff;
	cursor: pointer;
}

.copyright{
	height:60px;
	width: 100%;
	background-color: #797979;
	letter-spacing: 2px;
	border-top-width: 2px;
}

.description{
	width: 80%;
	margin-top: 40px;
	margin-left: 10%;
	margin-bottom: 40px;
	color: #707070;
	
}
.replyleft{
	margin-top: 3px;
	width:25%;
	float:left;
	color: #09B5FF;
	font-size: 1.5em;
	margin-left: 140px;
}
.replyright{
	width:auto;
	float:left;
}
.input_box{
	padding:5px 5px;
	font-size: 1em;
	border-radius: 10px;
}
.reply{
	height: 40px;
}
.notice{
	margin-top: 3px;
	color: #9A9A9A;
	font-size: 1em;
	margin-left: 140px;
	padding-bottom: 30px;
	width:100%;
}
.write_confession{
	margin-top: 3px;
	float:left;
	color: #09B5FF;
	font-size: 1.5em;
	margin-left: 140px;
	padding-bottom: 20px;
	width: 100%;
}
.input_box2{
	margin-left: 140px;
	height: 300px;
	width: 80%;
	text-align: left;
	border-radius: 10px;
	margin-bottom: 15px;
	
	
}
.submitbutton{
	padding: 10px 5px;
    background-color: #09B5FF;
    color: #FFFFFF;
	float: right;
    border-radius: 10px;
	text-align: center;
	font-size: 1em;
	margin-right: 170px;
	margin-bottom: auto;
	margin-left: auto;
	width:200px;
	margin-top: auto;
	float: center;
	
}
.submitbutton:hover,
.submitbutton.active
{
    background: #3FE4FC;
    cursor: pointer;
}
.submitt{
	height: 100px;
}
.disclaimer{
	width: 80%;
	padding: 10px 20px;
	font-size: 0.8em;
	letter-spacing: 0px;
	margin-left:8%;
	margin-top: 5px;
	color: white;
	
	
}
.copyright2{
	height:180px;
	width: 100%;
	background-color: #797979;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.submitted{
	font-size: 2em;
	color: #09B5FF;
	margin-left: 30%;
	margin-top: 100px;
	margin-bottom: 40px;
	
}
.submittedleft{
	margin-left: 30.5%;
	float: left;
	text-align: right;
	margin-right: 25px;
	background-color: white;
	padding: 15px 70px;
	border-radius: 10px;
	color: #A2A2A2;
	
}
.submittedright{
	width:auto;
	float:left;
	background-color: white;
	padding: 15px 80px;
	border-radius: 10px;
	color: #A2A2A2;
	margin-right: 32%;
	margin-bottom: 40px;
}
.yourconfession_id{
	font-size: 2em;
	color: #09B5FF;
	margin-left: 27%;
	margin-right: 35%;
	margin-bottom: 40px;
	width:600px;
	text-align: center;
	
}
.c_id{
	background-color: white;
	padding: 15px 200px;
	border-radius: 10px;
	color: #A2A2A2;
	margin-left: 31%;
	
}
.thank_you{
	color: #09B5FF;	
	width:500px;
	margin-top: 60px;
	margin-left: 31%;
	margin-bottom: 60px;
	text-align: center;
	font-size: 1.5em;
	
}
.back_mainmenu{
	background-color: #09B5FF;
	color: white;
	padding: 15px 70px;
	border-radius: 10px;
	margin-left: 37.7%;
}
.back_mainmenu:hover,
.back_mainmenu.active
{
    background: #88D7F9;
   	cursor: pointer;
}
.back{
	height: 200px;
}
.rectangle2{
	height:500px;
	background-color: white;
	margin-top:100px;
	margin-left:20%;
	margin-bottom:100px;
	width:900px;
	border-radius: 20px;
	
}
.adminsignin{
	font-size:1.7em;
	color: #09B5FF;
	text-align: center;
	padding-top:100px;
	padding-bottom:60px;
}
.signinleft{
	margin-left: 15%;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 40px;
	padding: 15px 70px;
	font-size: 1.2em;
	border-radius: 10px;
	color: #09B5FF;
	
}
.signinright{
	width:30%;
	float:left;
	background-color: white;
	padding-top:15px;
	border-radius: 10px;
	color: #A2A2A2;
	margin-right: auto;
	margin-bottom: 40px;
}
.usernamee{
	margin-bottom: 30px;
}
.input_box3{
	width:300px;
	margin-bottom: 20px;
	height:30px;
	background-color:#DFFBFF;
	border-radius: 10px;
}
.input_box4{
	width:300px;
	height:30px;
	background-color:#DFFBFF;
	border-radius: 10px;
}
.signinbutton{
	width: 300px;
	margin-top: 170px;
	margin-left: 35%;
}
.signin_button{
	font-size:1.1em;
	color: white;
	background-color: #09B5FF;
	
	padding: 10px 100px;
	border-radius: 10px;
	text-align: center;
}
.signin_button:hover,
.signin_button.active
{
    background: #88D7F9;
   	cursor: pointer;
}
.searchleft{
	margin-top: 3px;
	width:25%;
	float:left;
	color: #09B5FF;
	font-size: 1.5em;
	margin-left: 140px;
}
.searchright{
	width:auto;
	float:left;
}
.input_boxsearch{
	padding:5px 5px;
	font-size: 1em;
	border-radius: 10px;
	margin-bottom: 80px;
}
.searchconfession{
	margin-top: 80px;
	
	
}
.searchidbutton{
	padding: 7px 5px;
    background-color: #09B5FF;
    color: #FFFFFF;
	float: left;
    border-radius: 10px;
	text-align: center;
	font-size: 1em;
	margin-left: 20px;
	margin-bottom: auto;
	margin-right: auto;
	width:200px;
	margin-top: auto;
	float: center;
	
}
.searchidbutton:hover,
.searchidbutton.active
{
    background: #3FE4FC;
    cursor: pointer;
}
table, td, th {
  	border-radius: 10px;
	border:2px solid #848484;
	background-color: white;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
  color: #848484;
  
  
}
th {
  height: 40px;
}
.adminfunction{
	float:right;
	margin-right: 10%;
	height: 200px;
}
.adminbutton{
	padding: 7px 5px;
    background-color: #09B5FF;
    color: #FFFFFF;
	float: left;
    border-radius: 10px;
	text-align: center;
	font-size: 1em;
	margin-left: 20px;
	margin-right: auto;
	width:200px;
	margin-top: auto;
	float: center;
	
}
.adminbutton:hover,
.adminbutton.active
{
    background: #3FE4FC;
    cursor: pointer;
}
.space{
	height: 200px;
}